span[contenteditable] {
  padding: 4px 12px;
  border-radius: 1rem;
}

span[contenteditable]:focus {
  /* box-sizing: border-box; */
  outline: none;
  box-shadow: 0 0 10px -4px black;
}

input.form-control:focus {
  position: relative;
  /* border: 1px solid rgb(0, 123, 255); */
  border: 1px solid rgb(206, 212, 218);
  box-shadow: 0 0 10px -6px black !important;
  z-index: 1;
}

.badge,
.trash,
.sortBy {
  cursor: pointer;
}

.badge {
  padding: 4px 8px;
  transition: all 0.2s ease;
}

.badge:hover {
  box-shadow: 0 0 10px -4px black;
}
